
    /* Global resets */

    html, html#nojs {
        height: 100%;
    }

    html#js {
        height: 100%;
    }

    body {
        font-size: 15px;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif ;
        position: relative;
        background-color:white  ;
        padding-top:1px;
    }

    a:hover { text-decoration:none ; }
    a img { border: 0; }
    form { margin: 0; padding: 0; }


    /* + Common classes */

    .error { color: #ff0000; }

    .no-border { border: 0 !important;
    }

    div.hr {
        font-size: 1px;
        height: 1px;
        line-height: 1px;
        background : #ededed ;
    }

    div.hr-red {
        font-size: 2px;
        height: 2px;
        line-height: 2px;
        background : #DD4B39 ;
    }

    .clear {
        clear:both;
        margin-top:-1px;
        height:1px;
        overflow:hidden;
    }

    .faded-text { color :#8c7e7e ; }

    .feed-text {
        font-family: arial ;
        font-size: 11px;
        line-height:16px;
    }

    .comment-text{
        font-family: Georgia, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: black;
        word-wrap: break-word;
    }

    .huge-text {
        font-family: Georgia, Arial, sans-serif;
        font-size: 22px;
        line-height: 32px;
        text-align: left;
        color: #222;
        font-weight: bold;
        word-wrap: break-word;
    }

    .wrap-it { word-wrap : break-word;}
    
    .floatl {float:left;}
    .floatr {float:right;}

    .color-red {color:#f80813;}
    .red-label {color:red;}
    .color-green {color:#88cc44;}

    /* gray is #D3D3D3 and grey is #808080 */

    .grey {color:#808080;}

    .w200 {width:200px; }
    .f13 {font-size :13px;}
    .mt20 {margin-top :20px; }
    .mt10 {margin-top :10px; }
    .mb10 {margin-bottom :10px; }
    .mb20 {margin-bottom :20px; }
    .ml20 {margin-left :20px; }
    .ml40 {margin-left :40px; }
    .pt10 {padding-top:10px;}
    .pt20 {padding-top:20px;}
    .pt100 {padding-top:100px;}
    .pt120 {padding-top:120px;}
     
    .p5{padding:5px;}
    .p10 {padding:10px;}
    .p20 {padding:20px;}
    .pb10 {padding-bottom:10px; }
    .pb20 {padding-bottom:20px; }
    .mh800 { min-height:800px;}
    .mh600 { min-height: 600px;}


    .b {font-weight : bold ;}
    .gray {color : gray; }

    #content {
        padding-top:10px;
        min-height : 600px;
    }

    
    /* +widgets */

    .widget {

        width: 100%;
        clear: both;
        border-bottom: 1px solid #f1f1f1 ;
        min-height:60px;
        float: left ;
        padding:20px;
        
        border: 1px solid #F1F1F1 ;
        margin-bottom: 20px; 
    }

    .widget .options {
        background-color: #FEFDF1 ;
        visibility: hidden; 
        overflow:hidden;
        margin:0px;
        padding: 0px 20px 0px 0px;

    }

    .widget .options .links {
        padding : 5px 5px 5px 30px;
        font-size:12px;
        line-height:18px;
        float:right;
    }

    .widget .options .links a {
        color: #333; 
        cursor: pointer ;
        font-size: 1em ;
    }

    .widget .photo {
        padding: 13px;
    }

    /* Any photo inside a widget can only go till 90%  */
    .widget img {
        max-width : 90% ;
        border: 5px solid #f7f7f7;
    }

    .widget .photo img {
        max-width:90%;
        border:2px solid #d5d5d5;
        position : relative ;
    }

    .widget-bg { background-color: #FEFDF1 ;}
    .widget-fg { background-color: #FFFFFF; }

    img.alignright {float:right; margin:0 0 1em 1em}
    img.alignleft {float:left; margin:0 1em 1em 0}
    img.aligncenter {display: block; margin-left: auto; margin-right: auto}

    .video .alignright {float:right; margin:0 0 1em 1em}
    .video .alignleft {float:left; margin:0 1em 1em 0}
    .video .aligncenter {display: block; margin-left: auto; margin-right: auto}

    .widget a{
        text-decoration: none;
    }
    .widget a:hover {
        text-decoration:underline;
    }

    .widget p{
        margin-bottom: 5px;
        text-align :justify ;
        /* for a very long single word use word-wrap trick */
        /* word-wrap: break-word; */
        /* text-indent :20px; */
    }

    /* + link and image previews */

    .hide-me {
        display:none ;
    }

    .box-shadow {
        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    }

    /* simulate blockquote style */
    .quote {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-left: 4px solid #eee;
        padding-left: 20px;
        overflow: hidden ;

    }


    .toolbar {
        margin-top:20px;
        border-bottom: 2px solid #F8D575 ;
        border-top: 2px solid #F8D575 ;
    }

    .tools li {
        float:left ;
        position: relative;
        padding: 5px 10px 5px 20px;

    }

    .tools a {
        color: #333 ;
        font-size:14px;
    }

    .tools a:hover {
        text-decoration: underline ;
    }

    .section {
        min-height: 40px;
        padding:20px 0px 20px 0px;
        border-bottom:1px solid #f1f1f1;
        overflow:hidden ;
    }

    /* generic left floating div */
    .stack {
        width:230px;
        float:left;
        padding:4px;
        margin:4px;
        cursor: pointer;
    }

   
    /* + Activity feeds */

    .feeds {
        font-size : 12px;
        padding: 0px 0px 0px 10px;
        font-family: arial;
    }

    .feeds a {
        color: #333 ;
    }

    .feeds .item {
        width: 100%;
        clear: both;
        padding-top:5px;
        border-top : 1px solid #eee ;
        padding-bottom :5px;
    }

    .feeds .item:hover {
        background-color:#f2f0f0 ;
    }

    .feeds .item:first-child {
        border-top :0px;
    }

    .feeds .item img {
        padding:3px;
        float:left ;
        width:auto;
        height:auto;
        max-width:60px;
        max-height:60px;
    }

    .feeds .item .message {
        color: #8c7e7e ;
    }


    .noresults {
        margin-top: 40px;
        margin-left:20%;
        padding: 30px 0;
        color: #999;
        font-size: 24px;
        line-height: 37px;
        font-family: Georgia;
         
    }

   /* + simple popup */
   /* position is fixed : popup should scroll down with page */
   /* overflow  auto is to get  scrollbar when content is more than 
      height of popup */
   /* control popup dimensions via max-height / height/ width / max-width */
   /* control popup position via top/left and margins */

    #simple-popup {

        display:none;
        position: fixed;
        z-index: 1009;
        width: 600px;
        max-width:760px;
        max-height:380px;
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;

        top: 50%;
        left: 50%;
        margin-top:-170px;
        margin-left:-300px;

        background : white;
        color: black;
       
        border:4px solid #ccc;
        border-radius:10px;
        padding:7px 11px 7px 11px;
        box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    #popup-mask {
        position:absolute;
        z-index:900;
        background-color:#F7F7F7; 
        /* background: url(/css/asset/fancybox/2.1.2/fancybox_overlay.png); */
        display:none;
        top : 0px;
        left:0px;
        opacity :0.8 ;
    }

    #block-spinner {
        text-align: center;
        position: fixed;
        width: 200px;
        background: black;
        opacity: 0.8;
        color: white;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        margin-top:-40px;
        margin-left:-80px;
        z-index: 1090;
        padding:10px;
        display:none;
        overflow:hidden;
    }

    #simple-popup #content{
        padding:10px;
        min-height :30px;
        overflow:hidden;
    }

    #simple-popup #header{
        margin-bottom :5px;
    }

    #simple-popup #header a {
        color:#333 ;
    }

    #nav-share { display:none ; }

    #simple-popup  .stack{
        border-left : 2px solid #eee ;
        padding:10px;
        text-align:center;
        font-weight:bold;
    }

    #simple-popup .stack .header {
        font-size:21px;
        text-align:center ;
        padding:10px;
    }

    #simple-popup .stack p {
        color: #333 ;
        font-weight:normal;
    }


    #simple-popup a:first-child .stack{ border-left-width:0; }

    #simple-popup .stack:hover {
        background: #f7f7f7 ;
        cursor:pointer ;
    }

    #overlay-message {
        background: none repeat scroll 0 0 #F9EDBE;
        border-bottom: 1px solid black;
        box-shadow: 0 1px 15px #9C9C9C;
        font-size: 13px;
        line-height: 21px;
        left: 0;
        opacity: 0;
        padding: 10px 10% 10px;
        position: fixed;
        /* overlay.top should match body.padding-top */
        top: 50px;
        width: 100%;
        z-index: 1009;
        height:60px;
        text-align:center ;
        opacity :1 ;
        display :block ;
    }

    #overlay-message a {
        color: #222;
        cursor: pointer;
        font-size: 12px;
        font-weight: normal;
    }

    .flickr-color { color : #FE63BB;}

    /* + user dashboard menu styles */

    #user-menu {
        height: 40px;
        line-height: 37px;
        padding: 0;
        position: relative;
        z-index: 102;
        background: white;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    
    #user-menu .item {
        float: left;
        border-bottom: 2px solid #DD4B39;
        padding: 0 4px;
        margin: 1px 12px 0;
        
    }

    #user-menu .item a {
        color : #333 ;
        text-decoration: none ;
    }

    #user-menu .item a:hover {
        color : #b1b1b1;
        text-decoration: none ;
    }

    /* +flat button used on dashboard */

    .btn-flat {

        text-shadow: none;
        padding: 4px 12px 4px 12px; 
        color: #333;
        background: white;
        font-family: arial,sans-serif;
        font-size: 13px;
        border: 1px solid #CECECE; 
      
    }

    .btn-flat:hover {
        background-color: #f7f7f7 ;
        color: #222 ;
        cursor:pointer ;
    }


   
    /* + metro UI style tiles to display counters */

    .metro-tile {
        color: #333 ;
        background-color: #f7f7f7 ;
        border: 1px solid white;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        width : 120px;
    }

    .metro-tile .name {
        display:block;
        padding:5px;
        font-weight: bold ;
    }

    .metro-blue {background-color: #35c2e0; color:white;}
    .metro-orange { background-color: #ff7f00; color : white;}
    .metro-green {background-color: #57b20d; color : white;}


    .metro-dark-green {background-color: #07823f; color: white;}
    .metro-yellow {background-color: #e09c15; color : white;}

    .metro-red {background-color: #b31e3b; color: #ffcc11;}
    .metro-slate {background-color: #9aa1b4; color:white;}
    .metro { background-color: #eee ; color: #333;}
    .metro-white {background-color: white ; }


    #page-message {
        background-color : #FEFDF1;
        padding-left:20px;
        padding-bottom:10px;
        font-weight: bold ;
    }

    .panel-form {
        display: none ;
        padding-top :20px; 
        padding-left :40px;
        padding-bottom: 20px;
        border-bottom: 2px solid #F8D575 ;

    }

    .panel-form .floatr {
        border-bottom: 1px solid #28c ;
    }

    .panel-form input {
        width:75%;
    }

    .panel-form textarea {
        width:75%;
        height:80px;
    }

    .form-table {
        padding-top :30px;
    }
    
    .form-table  input{
        word-spacing: 1px;
        line-height: 1.8em;
        color: #333;
        border: 1px solid #bbb;
        width: 400px;
        height: 22px;
        padding-top:4px;

    }

    .form-table  textarea{
        word-spacing: 1px;
        line-height: 1.8em;
        color: #333;
        border: 1px solid #ccc;
        width: 400px;
        height :110px;
        padding-top:10px
    }

    #footer {
        padding-top:60px;
        font-size: 12px;
        text-align:center;
        line-height:18px;
    }

    #footer a {

    }

    .form-actions .btn-mobikwik-wallet {

        background: url('http://merchant.mobikwik.com/static/paywith.png') no-repeat center center;
        width: 260px;
        height: 73px;
        color: transparent;
        background-color: #f7f7f7;
    }


    /* @imp : last section - override 3rd party libraries */
    /* bootstrap css */
    
    .beta {
        font-size: 11px;
        vertical-align: sub ;
    }
    
    .navbar-inner  {
        border :0 ;
        border-radius : 0 ;
        border-bottom : 1px solid #d5d5d5;
    }

    .navbar .brand {
        padding: 10px 20px 10px 80px ;
    }

    
    /* bootstrap pager - make rectangular */
    .pager a,.pager span{
        -webkit-border-radius: 0 ;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    
    .page-header {
        padding-bottom: 29px;
        border-bottom: 0;
    }

    .form-actions {
        background-color: #ffffff ;
    }

