body {
	padding-top: 90px; /* padding for fixed toolbar at top */
}

#ajax-message {
	font-size: 30px;
	padding-top: 20px:
}

#display {
	font-size: 40px;
	color: "black";
}

#t1 {
	font-size: 15px;
	color: "black";
}

.wrapper {
	margin: 20px;
}

}
.form-control {
	font-size: 20px;
}

.h400 {
	height: 400px;
}

.h100 {
	height: 100px;
}

.h200 {
	height: 200px;
}

.toolbar {
	height: 50px;
	padding-top: 0px;
}




#overlay-message {
        background: none repeat scroll 0 0 #F9EDBE;
        border-bottom: 1px solid black;
        box-shadow: 0 1px 15px #9C9C9C;
        font-size: 13px;
        line-height: 21px;
        left: 0;
        opacity: 0;
        padding: 10px 10% 10px;
        position: fixed;
        /* overlay.top should match body.padding-top */
        top: 50px;
        width: 100%;
        z-index: 1009;
        height:60px;
        text-align:center ;
        opacity :1 ;
        display :block ;
    }
    
    
    
#simple-popup {

        display:none;
        position: fixed;
        z-index: 1009;
        width: 600px;
        max-width:760px;
        max-height:380px;
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;

        top: 50%;
        left: 50%;
        margin-top:-170px;
        margin-left:-300px;

        background : white;
        color: black;
       
        border:4px solid #ccc;
        border-radius:10px;
        padding:7px 11px 7px 11px;
        box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    }

#simple-popup #content{
        padding:10px;
        min-height :30px;
        overflow:hidden;
    }

#simple-popup #header{
        margin-bottom :5px;
    }
    
.floatl {float:left;}
.floatr {float:right;}