body { 
	padding-top : 90px; /* padding for fixed toolbar at top */
}

#ajax-message {
	
	font-size:30px;
	
}

#display {
	
	font-size: 40px;
	color: "black";
}

#t1 {
	
	font-size: 15px;
	color: "black";
}

.wrapper {
		margin: 20px;
	}
}

.form-control {
	font-size:20px;
}

.h400 {
	
	height: 400px;
}

.h100 {
	height: 100px;
}


.h200 {
	
	height: 200px;
}

.toolbar {
	height: 50px;
	padding-top: 0px;
}